.contact{
  width:70%;
  margin: 20px auto;
  p{
    text-align: center;
  }
}

.formulaire{
  background-color: rgba(112,112,112,.3);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  form {
    font-family: map-get($typo, Bebas), sans-serif;
    width: 50%;
    .champs{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .civilite{
        color:rgb(112,112,112);
        display: flex;
        justify-content: space-between;
        font-size: pxToRem(16);
        width: 30%;
        margin: auto;
      }
        div{
          width: 30%;
          margin: auto;
          input[type=text],[type=email],[type=number]{
            padding:4px 10px;
            margin: 8px 0;
            box-sizing:border-box;
            border: none;
            border-bottom:1px solid white;
            background-color: transparent;
          }
        }

    }
    .message{
      width: 97%;
      margin: auto;
      input[type=text]{
        width: 100%;
        padding:4px 10px;
        margin: 0;
        box-sizing:border-box;
        border: none;
        border-bottom:1px solid white;
        background-color: transparent;
      }
      textarea{
        width: 100%;
        padding:4px 10px;
        margin: 0;
        box-sizing:border-box;
        border:1px solid white;
        background-color: transparent;
      }
    }
    .btnform{
      text-align: right;
    }
  }
}

/*************************/
/***** Champs ******/
/*************************/
