.banniere{
  img{
    width:100%;
  }
}

.groupe {
  width: 80%;
  margin : auto;
  :nth-child(odd){
    display: flex;
    justify-content: flex-end;
  }
  .wspaceg{
    width: 60%;
    .wspacerg{
      width: 76px;
    }
  }

  .photoG1{
    img{
      width:60%;
    }
  }
  .text{
    p{
      background-color: rgba(0,0,0,.9);
      width:60%;
    }

  }
  .photoG2{
    img{
      width:60%;
    }
  }
  .photoG3{
    img{
      width:60%;
    }
  }
}

.medias,.discographie,.concerts,.video{
  width: 80%;
  margin : auto;

}

.video{
  display: flex;
  justify-content: center;
  iframe{
    width: 840px;
    height: 473px;
  }
}

.discographie{
  display: flex;
  flex-direction: column;
  .albums{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .album{
      position: relative;
      img{
        width: 260px;
        height: 260px;
        margin: 15px 0;
      }
      .description{
        visibility: hidden;
        position: absolute;
        top:0;
        left:0;
        width: 260px;
        height: 260px;
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .sep{
          height: 2px;
          width: 20px;
          background-color: color(red);
        }
      }
      &:hover .description{
        visibility: visible;
        background-color: rgba(0,0,0,.7);
        border: 1px solid color(red);
      }
    }
  }
}
