.banniere{
  img{
    width:100%;
  }
}


.groupe {
  .photoG1{
    img{
      width:60%;
    }
  }
  .text{
    background-color: rgba(0,0,0,.9);
  }
  .photoG2{
    img{
      width:60%;
    }
  }
  .photoG3{
    img{
      width:60%;
    }
  }
}
