.btn{
  padding: 9px 10px 5px 10px;
  font-family: map-get($typo, Bebas), sans-serif;
  font-size: pxToRem(25);
  background-color: color(red);
  &:hover{
    background-color: white;
    color:color(red);
    border: 1px solid color(red);
  }
}
