.btn{
  font-family: map-get($typo, Bebas), sans-serif; 
  padding:10px;
  font-size: pxToRem(25);
  background-color: color(red);
  &:hover{
    background-color: white;
    color:color(red);
    border: 1px solid color(red);
  }
}
